p {
	font-size: 45px;
	margin: 100px 100px 0 100px;
	text-align: center;
}	

#small {
	font-size: 25px;
	margin: 0 100px 0 100px;
}

.giphy-embed {
	display: block;
	margin: auto;
	border: 10px solid black;
	margin-bottom: 100px;
	margin-top: 50px;
}